@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

.add {
    border-top: ridge;
    border-width: 5px;
    border-color: blue;
}

.view {
    border-top: ridge;
    border-bottom: ridge;
    border-width: 5px;
    border-color: blue;
}

.invalid-field {
    border: 1px solid #FF0000;
}

.done {
    text-decoration: line-through;
    color: #999;
}

.col-md-6 {
    padding-left: 0px;
}